@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(235, 235, 235)
}

header{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    color: #fff;
}

.container{
    margin: 0 auto;
    max-width: 1024px;
    padding: 12px 20px
}

.cover{
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position-y: -150px;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.search-container{
    position: absolute;
    width: 960px;
    bottom: -50px
}

#search-form{
    display: flex;
    position: absolute;
    width: 960px;
    bottom: -50px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2), 0px 5px 4px rgba(0,0,0,0.4);

}

#search-form input:focus{
    outline: none;
}

#search-form input{
    border: 0px;
    padding: 10px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    flex: 1;
}

#search-form button{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 1.5em;
    padding: 5px 20px;
    border: 0px;
}




.cat-search{
    margin-top: 80px
}

.result{
    margin-bottom: 15px;
}

.cats-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cats-container .loading{
    width: 200px
}

.cats-details{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
}

.cat-card{
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    color: rgba(0,0,0,0.7)
}

.cat-card h3{
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid  rgba(0,0,0,0.6);
    margin-bottom: 10px;
    padding-bottom: 10px
}

.cat-origin{
    margin-top: 20px
}

.cat-description{
    text-align: justify;
    margin: 10px 0px;
}

.cat-wiki{
    text-decoration: none;
    color: #8E2DE2
}

